.ql-toolbar.ql-snow {
    display: none; 
  }
  .ql-container.ql-snow {
    border: none;
  }
  .quill-editor .ql-editor {
    line-height: 2.8;
    font-size: 20px;
  }
  
  .popover {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: flex;
  }
  
  .popover button {
    background: none;
    border: none;
    color: #495057;
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .popover button:hover,
  .popover button:focus {
    background-color: #e9ecef;
    color: #212529;
  }
  
  .popover button.ql-active {
    background-color: #495057;
    color: #ffffff;
  }
  